APP_VARIANT=development
EXPO_PUBLIC_API_URL=http://localhost:3000

# Optional overrides
# APP_NAME=meetpin
# APP_SLUG=meetpin
# APP_SCHEME=meetpin
# APP_VERSION=1.0.0
# APP_BASE_BUNDLE_IDENTIFIER=com.nikgraf.meetpin
# IOS_BUNDLE_IDENTIFIER=com.nikgraf.meetpin.development
# IOS_BUILD_NUMBER=1
# ANDROID_APPLICATION_ID=com.nikgraf.meetpin.development
# ANDROID_VERSION_CODE=1
# EAS_PROJECT_ID=00000000-0000-0000-0000-000000000000
